.main {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 1rem;
	.article-div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.next-button {
			max-width: 30rem;
			width: calc(100% - 2rem);
			transition: all 0.5s;
			margin: 0 1rem;
			border: none;
			border-radius: 10px;
			padding: 0.5rem;
			background-color: black;
			color: white;
			font-size: large;
			font-weight: 600;
			letter-spacing: 0.5rem;
			&:enabled {
				cursor: pointer;
			}
		}
	}
	.talkbacks {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		margin: 1rem;
	}
}

@media only screen and (min-width: 600px) {
	.main {
		width: 70%;
		height: 90%;
		position: absolute;
		top: 50%;
		left: 50%;
		translate: -50% -50%;
		border: solid #aaa 1px;
		border-radius: 10px;
		.article-div {
			flex: 1 1 0;
			max-height: 45%;
		}
		.talkbacks {
			flex: 1 1 0;
			flex-direction: row;
			flex-wrap: wrap;
			& > * {
				width: 45%;
				max-height: 50%;
				flex-grow: 1;
			}
		}
	}
}

.error {
	max-width: 70%;
	padding: 1rem;
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	border: solid #aaa 1px;
	border-radius: 10px;
}

.waiter {
	margin: auto;
	animation: waiter 2s ease-in-out infinite;
}

@keyframes waiter {
	0% {
		translate: -1rem;
	}
	50% {
		translate: 1rem;
	}
	100% {
		translate: -1rem;
	}
}
