@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;600&display=swap");

.main {
	margin: 0 1rem;
	margin-top: 0;
	font-family: "Heebo", sans-serif;
	.title {
		font-weight: 600;
		font-size: larger;
	}
	.content {
	}
}
