@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;600&display=swap");

.main {
	display: flex;
	flex-direction: column;
	margin: 0 1rem;
	font-family: "Heebo", sans-serif;
	max-height: 90%;
	.title {
		font-weight: 600;
		font-size: larger;
	}
	.content {
		overflow: scroll;
	}
}
