.main {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100vw;
	height: 100vh;
	.buttons {
		margin: 3rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		.button {
			padding: 1rem;
			cursor: pointer;
			background-color: white;
			border: solid #aaa 1px;
			border-radius: 10px;
			box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
			&:hover {
				scale: 0.9;
			}
		}
	}
}
